BOT_TOKEN=7486666710:AAFVKKhubLFatNF8thsKC6nkaK3z4xWCt1g
ADMIN_ID=7171208519
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.imqomnvrfmjzhbanaqob.supabase.co:5432/postgres
CALLBACK_SECRET=MySuperSecretKey252ForCallbackstgt
MIN_WITHDRAW=0.20
