BOT_TOKEN=7486666710:AAFVKKhubLFatNF8thsKC6nkaK3z4xWCt1g
ADMIN_ID=7171208519
DATABASE_URL=postgresql://TasksRewardBot:nRsXg1qk0a4x-8on9KYPfg@taskbot-cluster-15689.j77.aws-eu-west-2.cockroachlabs.cloud:26257/defaultdb?sslmode=verify-full

CALLBACK_SECRET=CALLBACK_SECRET=MySuperSecretKey123ForCallbackOnly
MIN_WITHDRAW=1.00
