BOT_TOKEN=8488029999:AAHvdbfzkB945mbr3_SvTSunGjlhMQvraMs
ADMIN_ID=7171208519
DATABASE_URL=postgresql://postgres:fdpGAaEUuSWDZXNJLLlqncuImnPLaviu@switchback.proxy.rlwy.net:49337/railway
CALLBACK_SECRET=MySuperSecretKey123ForCallbackOnly
MIN_WITHDRAW=0.20
